.tab-header > a{
    flex: 1;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid grey;
}

.tab-header > a.active{
    border-bottom: 1px solid #83c11f;
}

.tab-contents .tab-content{
    display: none;
    margin-bottom: 100px;
}

/* .tab-contents .tab-content:target{
    display: block;
} */

.tab-contents .tab-content.active{
    display: block;
}

.tab-contents .tab-content .content-item{
    width: 120px;
    height: 120px;
    background: grey;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.content-wrapper{
    flex-wrap: wrap;
}

.content-wrapper .content-item img{
    width: 120px;
    height: 120px;
}
.content-label{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 15px;
}